.container-TaskList {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 22px auto 10px auto;
}
.container-TaskList ul {
    
}

.no-tasks {
    color:black;
    text-align: center;
    margin-top: 90px;
    font-size: 35px;
}