.Container-Navbar {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: #0d3683;
    box-shadow: 5px 5px 9px rgba(32, 35, 41, 0.938);
    
}
.Navbar-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Navbar-left p {
    font-size: 14px;
    text-align: center;
    text-decoration: none !important;
}
.Navbar-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoNav {
    width: 40px;
}
.Navbar-right p { 
    text-decoration: none;
    
}
.tasks p {
    text-decoration: none !important;
    font-weight: 900;
}
