.Container-TaskSearch {
    text-align: center;
}
.TaskSearch-input {
    background: #e0e0e0;
    border-radius: 50px;
    border: 3px solid #202329;
    margin: 0 24px;
    height: 35px;
    width: 290px;
    font-size: 16px;
    padding-left: 12px;
    color: #424242;
}
.TaskSearch-input::placeholder {
    color: #838383d7;
    font-size: 16px;
  }
.TaskSearch-input:focus {
    background: #ffffff;
    color: black;
  }