* {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: 'Be Vietnam Pro', Arial, sans-serif;
}

.App {
  width: 100%;
  display: flex;
  border: solid red, 1px ;
  /* text-align: center; */
}
.leftPlace {
  display: flex;
  width: 40%;
  border: solid red, 1px ;
}
.rightPlace {
  display: flex;
  flex-direction: column;
  width: 40%;
  border: solid red, 1px;
}


